Dependencies/Assembly-CSharp.dll
Dependencies/UnityEngine.dll
Sources/obj/*
GameData/TextureReplacer/Plugins/*
Unity/Bundles/*
Unity/Library/*
Unity/Temp/*
Unity/Unity.CSharp.csproj
Unity/Unity.sln
*.suo